.input {
  border: 2px solid #38A169; /* Verde */
  border-radius: 0.375rem; /* Bordas arredondadas */
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
}

.input:focus {
  border-color: #2F855A;
  outline: none;
  box-shadow: 0 0 0 3px rgba(72, 187, 120, 0.4);
}